<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
    <title>My first attempt</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>

<body>
    <div class="top-contents">
        <h1>THIS IS MY SERVER:D</h1>
        <h2>日本語もかける？？</h2>
        <a href="mypage01.html">私のマイページはこちら！</a><br>
        <a href="#">Besuch</a><br>
        <a href="#">準備中</a><br>
        <a href="#">ist gearbeitet</a><br>
        <a href="#">Bauarbeit</a><br>
        <a href="#bottom">ページの一番下にいく</a>
    </div>

    <div class="main">
        <h1>僕の得意分野</h1>
        <h2>ドイツ語</h2>
        <ul>
            <li><a href="https://learngerman.dw.com/de/deutsch-lernen/s-9095" target="_blank">おすすめの学習サイト</a></li>
            <li><a href="https://www.amazon.co.jp/Sicher-Teilbanden-Arbeitsbuch-Lektion-Audio-CD/dp/3195012081">Goethe
                    Institutでも採用されている教科書</a></li>
            <li><a href="#">TestDaF digital Sprechenの完全攻略!!</a></li>
            <li><a href="#">Goethe Zertifikat B2一発合格対策！</a></li>
        </ul>
        <h2>解析学</h2>
        <ul>
            <li><a href="#">イプシロン・デルタ論法の完全攻略！</a></li>
            <li><a href="#">群・環・論</a></li>
            <li><a href="#">集合と位相</a></li>
            <li><a href="#">フーリエ級数・フーリエ変換のまとめ</a></li>
        </ul>
        <h2>IT分野</h2>
        <ul>
            <li><a href="#">ITエンジニアの初歩の初歩？「ITパスポート」</a></li>
            <li><a href="#">IT分野にはもう慣れた？「基本情報処理試験」</a></li>
            <li><a href="#">IT分野のプロフェッショナル？「応用情報処理試験」</a></li>
        </ul>
    </div>
    <footer>
        <h1 id="bottom">最後まで見てくれて、ありがとう :D</h1>
    </footer>
</body>

</html>